* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    #global-header {
        transition: background-color 0.2s linear;
        width: 100vw;
        position: fixed;
        z-index: 3;
        
        &.solid {
            background-color: #ffa4e8;
            transition: background-color 0.2s linear;
        }
    
        nav {
            display: flex;
            flex-flow: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 0.26vw 2.6vw;
            font-family: 'Roboto Mono', Verdana, Geneva, Tahoma, sans-serif;
        
            .logo {
                width: 13vw;
            }
    
            .menu {
                width: 15%;
                overflow: hidden;
                text-wrap: nowrap;
    
                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 1.46vw;
                    margin: 0 1.5vw;
                }
    
                a:not(:nth-of-type(1)):hover {
                    text-decoration: underline;
                }
    
                a:not(:nth-of-type(1)):active {
                    font-weight: 700;
                }
    
                span {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 1.46vw;
                    margin: 0 1.5vw;
                }
    
                transition-duration: 0.5s;
            }
    
            .menu:hover {
                width: 60%;
                transition-duration: 1s;
    
                a:nth-of-type(1) {
                    cursor: default;
                }
            }
        }
    }

    main {
        #slideshow {
            img {
                width: 100%;
            }

            .slides {
                display: none;
            }

            .slogan {
                font-family: 'Roboto Mono', Verdana, Geneva, Tahoma, sans-serif;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 40vh;
                font-size: 3.2vw;
                color: #7affb6;
            }

            .arrow {
                z-index: 3;
                position: absolute;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto;
                width: 10.4vw;

                a {
                    top: 62%;
                    position: fixed;
                    height: 0;

                    img {
                        margin-top: 7.3vw;
                        width: 10.4vw;
                        transition: 0.2s;

                        &.flip {
                            transition: 0.2s;
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }

                }
            }
        }

        .index {
            padding: 2.6vw 0;
            font-family: 'Be Vietnam Pro', Verdana, Geneva, Tahoma, sans-serif;
            background-image: linear-gradient(#fcfcfc, #fff8db);

            h2 {
                font-size: 2.6vw;
                text-align: center;
                color:rgb(255, 121, 155);
            }

            h2:after {
                content: "";
                display: block;
                height: 0.1vw;
                width: 34vw;
                margin: 2.1vw auto 0;
                background-color: #bebebe;
            }

            .ingredients-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background-color: #e4e4e4;
                margin: 5.2vw 0;
                border-radius: 10.4vw;

                div {
                    margin: 3.1vw 6.8vw;
                    width: fit-content;

                    h3 {
                        font-size: 2.1vw;
                    }

                    ol, li {
                        text-align: justify;
                        font-size: 1.6vw;
                    }

                    ol {
                        margin-top: 3.6vw;
                    }
                }

                img {
                    width: 22.4vw;
                    border-radius: 1.3vw;
                }
            }

            .ingredients-container1 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background-color: #e4e4e4;
                margin: 5.2vw 0;
                border-radius: 5.2vw;

                div {
                    margin: 3.1vw 6.8vw;
                    width: fit-content;

                    h3 {
                        font-size: 2vw;
                    }

                    ol, li {
                        text-align: justify;
                        font-size: 1.6vw;
                    }

                    ol {
                        margin-top: 2.1vw;
                    }
                }

                img {
                    width: 23.4vw;
                    border-radius: 1.3vw;
                }
            }

            .ingredients-container2 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background-color: #e4e4e4;
                margin: 5.2vw 0;
                border-radius: 5.2vw;

                div {
                    margin: 3.1vw 6.8vw;
                    width: fit-content;

                    h3 {
                        font-size: 2vw;
                    }

                    ol, li {
                        text-align: left;
                        font-size: 1.6vw;
                    }

                    ol {
                        margin-top: 2.1vw;
                    }
                }

                img {
                    width: 23.4vw;
                    border-radius: 1.3vw;
                }
            }

            .preparation-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                border-top-left-radius: 3.1vw;
                border-bottom-left-radius: 3.1vw;
                background-image: linear-gradient(to right, rgb(216, 255, 236), rgb(118, 255, 189));

                .textarea {
                    width: 44.3vw;
                    margin: 0 0 0 3.1vw;
                    text-align: justify;

                    h3 {
                        font-size: 1.9vw;
                        margin-bottom: 1.3vw;
                    }

                    p {
                        font-size: 1.05vw;
                        line-height: 1.56vw;
                    }
                }

                img {
                    width: 46.9vw;
                    border-top-left-radius: 10.4vw;
                    border-bottom-left-radius: 10.4vw;
                }
            }

            .preparation-container1 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 3.1vw;
                border-top-left-radius: 3.1vw;
                border-bottom-left-radius: 3.1vw;
                background-image: linear-gradient(to right, rgb(239, 216, 255), rgb(189, 118, 255));

                .textarea {
                    width: 44.3vw;
                    margin: 0 0 0 3.1vw;
                    text-align: justify;

                    h3 {
                        font-size: 1.9vw;
                        margin-bottom: 1.3vw;
                    }

                    p {
                        font-size: 1.05vw;
                        line-height: 1.56vw;
                    }
                }

                img {
                    width: 46.9vw;
                    border-top-left-radius: 10.4vw;
                    border-bottom-left-radius: 10.4vw;
                }
            }

            .preparation-container2 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                border-top-right-radius: 3.1vw;
                border-bottom-right-radius: 3.1vw;
                background-image: linear-gradient(to left, rgb(216, 255, 236), rgb(118, 255, 189));

                .textarea {
                    width: 44.3vw;
                    margin: 0 3.1vw 0 0;
                    text-align: justify;

                    h3 {
                        font-size: 1.9vw;
                        margin-bottom: 1.3vw;
                    }

                    p {
                        font-size: 1.05vw;
                        line-height: 1.56vw;
                    }
                }

                img {
                    width: 46.9vw;
                    border-top-right-radius: 10.4vw;
                    border-bottom-right-radius: 10.4vw;
                }
            }

            section {
                margin: 2.1vw;

                h4:before {
                    content: "";
                    display: block;
                    height: 0.1vw;
                    width: 70vw;
                    margin: 2.1vw auto 2.1vw;
                    background-color: #bebebe;
                }

                h4 {
                    font-size: 1.67vw;
                    text-align: center;
                    font-family: 'Charmonman';
                }

                .btn-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 2.1vw;

                    div {
                        width: 31.25vw;
                        text-align: center;

                        .recipe-btn {
                            border: none;
                            color: #ffffff;
                            display: inline-block;
                            border-radius: 0.21vw;
                            padding: 1.04vw 2.1vw;
                            cursor: pointer;
                        }
    
                        .btn-style1 {
                            background: linear-gradient(90deg, var(--color1), var(--color2));
                            transition: --color1 0.8s, --color2 0.8s;
                        }
    
                        .btn-style2 {
                            background: linear-gradient(90deg, var(--color2), var(--color1));
                            transition: --color2 0.8s, --color1 0.8s;
                        }
    
                        .btn-style1:hover {
                            --color1: #77a6ff;
                            --color2: #ff69af;
                            transition: --color1 0.8s, --color2 0.8s;
                        }
    
                        .btn-style2:hover {
                            --color1: #77a6ff;
                            --color2: #ff69af;
                            transition: --color1 0.8s, --color2 0.8s;
                        }
    
                        .recipe-btn:active {
                            --color1: #ff4ad8;
                            --color2: #ff4ad8;
                        }
                        
                        .recipe-btn a {
                            display: inline-block;
                            position: relative;
                            transition: 0.5s;
                            text-decoration: none;
                            font-size: 1.25vw;
                            color: #ffffff;
                        }
                        
                        .recipe-btn a:after {
                            content: "»";
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: -1.04vw;
                            transition: 0.5s;
                        }
                        
                        .recipe-btn:hover a {
                            padding-right: 1.3vw;
                        }
                        
                        .recipe-btn:hover a:after {
                            opacity: 1;
                            right: 0;
                        }

                        .owo-btn {
                            border: none;
                            color: #ffffff;
                            display: inline-block;
                            border-radius: 0.21vw;
                            padding: 1.04vw 2.1vw;
                            cursor: pointer;
                        }

                        .owo-btn:active {
                            --color1: #ff4ad8;
                            --color2: #ff4ad8;
                        }
                        
                        .owo-btn a {
                            display: inline-block;
                            position: relative;
                            transition: 0.5s;
                            text-decoration: none;
                            font-size: 1.25vw;
                            color: #ffffff;
                        }

                        .owo-btn a:after {
                            content: "»";
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: -1.04vw;
                            transition: 0.5s;
                        }
                        
                        .owo-btn:hover a {
                            padding-right: 1.3vw;
                        }
                        
                        .owo-btn:hover a:after {
                            opacity: 1;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    footer {
        display: grid;
        grid-template-areas: "brand disclaimer socials";
        background-color: #ffa4e8;
        padding: 2.1vw;
        align-items: center;
        color: white;

        .brand {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            margin: 0 0 0 2.1vw;

            p{
                font-size: 1.35vw;
            }

            img {
                width: 5.2vw;
                margin: 0 0.52vw;
            }
        }

        .disclaimer {
            font-size: 0.6vw;
        }
        
        .socials {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 2.1vw;
                margin: 0 0 0 2.1vw;
            }
        }
    }
}

@property --color1 {
    syntax: '<color>';
    initial-value: #ff69af;
    inherits: false;
}

@property --color2 {
    syntax: '<color>';
    initial-value: #77a6ff;
    inherits: false;
}

/******************
    RESPONSIVE
******************/
@media (width < 1900px) {
    body {
        main {
            #slideshow {
                .arrow {
                    display: none;
                }
            }
        }
    }
}

@media (width < 1024px) {
    body {
        #global-header {
            background-color: #ffa4e8;
            position: relative;
    
            nav {
                display: inline;
                text-align: center;
    
                .menu {
                    display: none;
                }
            }
        }

        main {
            .index {
                section {
                    .btn-container {
                        div {
                            .recipe-btn a:after {
                                display: none;
                            }

                            .btn-style1 {
                                transition: none;
                            }
        
                            .btn-style2 {
                                transition: none;
                            }

                            .btn-style1:hover {
                                --color1: initial;
                                --color2: initial;
                                transition: none;
                            }
        
                            .btn-style2:hover {
                                --color1: initial;
                                --color2: initial;
                                transition: none;
                            }

                            .recipe-btn:active {
                                --color1: #ff4ad8;
                                --color2: #ff4ad8;
                            }

                            .recipe-btn:hover a {
                                padding-right: initial;
                            }

                            .owo-btn:active {
                                --color1: #ff4ad8;
                                --color2: #ff4ad8;
                            }

                            .owo-btn a:after {
                               display: none;
                            }

                            .owo-btn:hover a {
                                padding-right: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width <= 768px) {
    
    body {
        #global-header {
            background-color: #ffa4e8;
            position: relative;
    
            nav {
                display: inline;
                text-align: center;

                .logo {
                    width: 30vw;
                }
    
                .menu {
                    display: none;
                }
            }
        }

        main {
            #slideshow {
                .slogan {
                    top: 20vh;
                }
            }
            .index {
                h2 {
                    font-size: 4vw;
                    margin-top: 2vw;
                }

                h2:after {
                    width: 50vw;
                }

                .ingredients-container, .ingredients-container1, .ingredients-container2 {

                    div {
                        width: 43vw;
                        margin: 3.1vw 1.8vw;

                        h3 {
                            font-size: 4vw;
                        }

                        ol, li {
                            font-size: 3vw;
                        }
                    }
                    img {
                        width: 40vw;
                    }
                }

                .preparation-container {
                    background-image: linear-gradient(to bottom, rgb(216, 255, 236), rgb(118, 255, 189));
                }

                .preparation-container1 {
                    background-image: linear-gradient(to bottom, rgb(239, 216, 255), rgb(189, 118, 255));
                    margin-bottom: 6vw;
                }

                .preparation-container2 {
                    background-image: linear-gradient(to top, rgb(216, 255, 236), rgb(118, 255, 189));
                }

                .preparation-container, .preparation-container1, .preparation-container2 {
                    flex-direction: column;
                    text-align: center;

                    .textarea {
                        width: 90vw;
                        margin: 4vw 0;

                        h3 {
                            font-size: 4vw;
                        }

                        p {
                            font-size: 2vw;
                            line-height: 3vw;
                        }
                    }

                    img {
                        margin: 4vw 0;
                        width: 90vw;
                        border-radius: 2vw;
                    }
                }

                section {
                    margin: 4vw 0;

                    h4 {
                        font-size: 3vw;
                    }

                    .btn-container {
                        flex-direction: column;
                        align-items: center;
                        margin: 5vw;

                        div {
                            margin: 3vw 0;
                            width: 40vw;

                            .recipe-btn {
                                padding: 1.4vw 5vw;
                                border-radius: 1vw;
                            }

                            .recipe-btn a {
                                font-size: 3vw;
                            }

                            .owo-btn {
                                padding: 1.4vw 5vw;
                                border-radius: 1vw;
                            }

                            .owo-btn a {
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }

        footer {
            grid-template-areas: none;
            grid-template-columns: "brand disclaimer socials";
            justify-content: center;

            div {
                justify-content: center;
                margin: 2vw 0;
            }

            .brand {
                p {
                    font-size: 5vw;
                }
                img {
                    width: 22vw;
                }
            }

            .disclaimer {
                p {
                    text-align: center;
                    font-size: 2vw;
                }
            }

            .socials {
                a img {
                    width: 7.5vw;
                }
            }
        }
    }
}